doctype
html
    head
        title Images
    body
        form(action="upload/create", method="post", enctype="multipart/form-data")
            input(type="file", name="imgFile")
            input(type="submit", value="파일 업로드하기")